/*  */
* {
    margin: 0px;
    padding: 0px;
}

h4.cover-title {
    font-size: 25px;
}

h4.cover-title {}

h1.cover-titletwo {
    font-weight: 600;
    font-size: 45px;
} 
/* shared styles */
body {
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Open Sans' , sans-serif;
}
/* prim style */
.text-prim {
    color: #fd6e0a;
}
.btn-prem {
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 35px;
    font-size: 20px;
    background: #fd6e0a;
    /* width: 111px; */
    font-weight: 700;
}
.section-title {
    text-align: center;
    font-weight: 700;
    font-size: 40px;

}
.section-description {
    text-align: center;
    
}
/* nav styles */

nav {
    display: flex;
    justify-content: space-between;
    /* background-color: #FFF8F3; */
    height: 100px;
    /* margin: 0px 100px 0px 145px; */
    padding: 0px 100px 0px 150px;
}
body header {
    background-color: #fff8f3;
    /* margin: 0px 100px 0px 145px; */

}
.nav-title {
    color:black;
    font-size: 45px;
    text-align: center;
    font-weight: 800;
    margin: 0;
    padding: 11px;
}
/* nav > h4 > span {
    color: #FD;
} */
nav > ul {
    display: flex;
    /* text-align: center; */
    align-items: center;
    

}
nav ul li {
    /* text-align: center; */
    /* margin-right: 50px; */
    list-style: none;
    margin-right: 50px;
}
nav a {
    text-decoration: none;
    color: #474747;
}
/* cover area */
.cover {
    display: flex;
    align-items: center;
    background: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 680px;
    /* height:100vh; */
    justify-content: space-between;
}
.cover-text {
    /* display: flex; */
    margin-left: 161px;
    max-width: 500px;
    
}
.hardy {
    width: 360px;
    margin-right: 55px;
}
/* .description {
    margin: 15px 0px;
    font-size: initial;
} */
/* header .cover > button {
    margin-top: 15px;
} */
.description {
    justify-content: space-around;
    margin: 15px 0px;
    font-size: initial;
}
/* main section style */
/* about section */

.about{
    margin: 130px 0px;
    max-height: 550px;
    background-color: #fff8f3;
}